assets/*
FlashInAppPurchases.apk
FlashInAppPurchases.html
FlashInAppPurchases.swf
FlashInAppPurchasesAligned.apk
FlashInAppPurchasesNew.apk
FlashInAppPurchasesSigned.apk
FlashInAppPurchases/*
FlashInAppPurchasesNew/*
