MonoGame/InAppPurchases/bin/*
MonoGame/InAppPurchases/obj/*
!MonoGame/InAppPurchases/MonoGame.Framework.dll
!MonoGame/InAppPurchases/Ouya.Console.Api.dll
MonoGame/SetResolutions/bin/*
MonoGame/SetResolutions/obj/*
!MonoGame/SetResolutions/MonoGame.Framework.dll
!MonoGame/SetResolutions/Ouya.Console.Api.dll
MonoGame/VirtualController/bin/*
MonoGame/VirtualController/obj/*
Android/AndroidKeyLogger/
Android/RawInput/
Android/SetResolutions/Android/
Android/SetResolutions/bin/
Android/SetResolutions/doc/
Android/SetResolutions/obj/
Android/SetResolutions/gen/
AdobeAir/
NDK/
MonoGame/Intro/
Android/MultipleActivities/bin/
Android/MultipleActivities/gen/
Android/MultipleActivitiesNative/bin/
Android/MultipleActivitiesNative/obj/
Android/MultipleActivitiesNative/gen/
Android/MultipleActivitiesNative/Android/
Android/MultipleActivitiesWebView/bin/
Android/MultipleActivitiesWebView/gen/
Android/SoundMixer/bin/
Android/SoundMixer/gen/
Corona/InAppPurchases/android/bin
Corona/InAppPurchases/android/assets
Corona/InAppPurchases/android/gen
Corona/InAppPurchasesPlugin/android/bin
Corona/InAppPurchasesPlugin/android/assets
Corona/InAppPurchasesPlugin/android/gen
Corona/OuyaCoronaPlugin/android-plugin/bin
Corona/OuyaCoronaPlugin/android-plugin/assets
Corona/OuyaCoronaPlugin/android-plugin/gen
Marmalade/InAppPurchases/build_inapppurchases_vc11/
Marmalade/MarmaladeODK/build_odk_android_java/
Marmalade/MarmaladeODK/build_odk_android_linux_scons_arm/
Marmalade/MarmaladeODK/lib/
Marmalade/MarmaladeODK/obj/
