MonoGame/InAppPurchases/bin/*
MonoGame/InAppPurchases/obj/*
!MonoGame/InAppPurchases/Ouya.Console.Api.dll
MonoGame/SetResolutions/bin/*
MonoGame/SetResolutions/obj/*
MonoGame/VirtualController/bin/*
MonoGame/VirtualController/obj/*
Android/AndroidKeyLogger/
Android/RawInput/
Android/SetResolutions/Android/
Android/SetResolutions/bin/
Android/SetResolutions/doc/
Android/SetResolutions/obj/
Android/SetResolutions/gen/
AdobeAir/
NDK/
MonoGame/Intro/
Android/MultipleActivities/bin/
Android/MultipleActivities/gen/
Android/MultipleActivitiesNative/bin/
Android/MultipleActivitiesNative/obj/
Android/MultipleActivitiesNative/gen/
Android/MultipleActivitiesNative/Android/
Android/MultipleActivitiesWebView/bin/
Android/MultipleActivitiesWebView/gen/
Android/SoundMixer/bin/
Android/SoundMixer/gen/
Corona/InAppPurchases/android/bin
Corona/InAppPurchases/android/assets
Corona/InAppPurchases/android/gen
Corona/InAppPurchasesPlugin/android/bin
Corona/InAppPurchasesPlugin/android/assets
Corona/InAppPurchasesPlugin/android/gen
Corona/OuyaCoronaPlugin/android-plugin/bin
Corona/OuyaCoronaPlugin/android-plugin/assets
Corona/OuyaCoronaPlugin/android-plugin/gen
Marmalade/InAppPurchases/build_inapppurchases_vc11/
Marmalade/MarmaladeODK/build_odk_android_java/
Marmalade/MarmaladeODK/build_odk_android_linux_scons_arm/
Marmalade/MarmaladeODK/lib/
Marmalade/MarmaladeODK/obj/
Marmalade/VirtualController/build_virtualcontroller_vc11/
Construct2/Space Blaster Resized 2/
Construct2/Space Blaster Resized/
Construct2/Space Blaster/
Construct2/Original Space Blaster/
Construct2/VirtualControllersHTML5/
Android/ExternalStorageExample/bin/
Android/ExternalStorageExampleNative/ExternalStorageExampleNative/Tegra-Android/Debug/
Android/ExternalStorageExampleNative/ExternalStorageExampleNative.opensdf
Android/ExternalStorageExampleNative/Tegra-Android/
Android/ExternalStorageExampleNative/ExternalStorageExampleNative.sdf
MonoGame/MonoGameOuyaJar/bin/
MonoGame/InAppPurchasesXS/
MonoGame/MonoGameOuya/
Android/InAppPurchasesNative/Tegra-Android/
MonoGame/MonoGameOuyaLib/obj/
MonoGame/MonoGameOuyaLib/bin/
MonoGame/InAppPurchasesVS/bin/
MonoGame/InAppPurchasesVS/obj/
Unity/GameAnalyticsOrigin/
Android/SafeAreaExample/bin/
Android/AndroidVirtualController/bin/
Android/AndroidVideoPlayer/bin/
Android/AndroidVirtualControllerNative/bin/
Android/AndroidVirtualControllerNative/Tegra-Android/
Android/AndroidVirtualControllerNative/obj/
Android/AndroidVirtualControllerNativeActivity/Tegra-Android/
Android/LoadTest001/
Android/DynamicJar/
Android/LoadTest002/
Android/LoadTest004/
Android/LoadTest006/
Android/LoadTest008/
Unity/OuyaSDK/Temp/
Unity/OuyaSDK/Library/
Android/Test001/
Unity/OuyaSDK/obj/
Unity/OuyaSDK/Assets/TAGENIGMA Toolbox/
Android/XArcadeTank/bin/
Android/XArcadeTank/gen/
Android/OggExample/bin/
MonoGame/SoundPoolExample/obj/
MonoGame/OuyaSdk/obj/
MonoGame/OggExample/obj/
MonoGame/OggExample/bin/
Unity/PlayMaker/Temp/
Unity/PlayMaker/Library/
Android/AndroidExit/bin/
Android/AndroidExit/gen/
Unity/CharacterController/Library/
Unity/CharacterController/Temp/
Android/HelloWorldNative/Tegra-Android/
MonoGame/OuyaSdk/bin/
MonoGame/VirtualController/XnbContentProject/XnbContentProject/bin/
Xamarin/InputView/bin/
Xamarin/InputView/XamarinOuyaPlugin/obj/
Xamarin/InputView/XamarinOuyaPlugin/bin/
Xamarin/InputView/obj/
MonoGame/VirtualController/XnbContentProject/XnbContentProject/obj/
Android/InputView/bin/
MonoGame/InputView/bin/
MonoGame/InputView/MonoGameOuyaPlugin/bin/
MonoGame/InputView/MonoGameOuyaPlugin/obj/
MonoGame/InputView/obj/
!MonoGame.Framework.dll
!Lidgren.Network.dll
Android/VirtualControllerView/bin/
Android/WebArchive/bin/
Html5/WebArchive/ContentShell/
Unity/OuyaSDK/OuyaSDK-Core.unitypackage
Unity/OuyaSDK/OuyaSDK-Examples.unitypackage
Unity/OuyaSDK/OuyaSDK-StarterKit.unitypackage
Unity/OuyaSDK/Assets/TAGENIGMA Toolbox.meta
Html5/Caleb/
