<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="tv.ouya.examples.monogame.oggexample" android:versionCode="1" android:versionName="1">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="16" />
	<application android:label="MonoGame OggExample" android:icon="@drawable/Icon"></application>
</manifest>